<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>masterId</key>
		<string>300001</string>
		<key>title</key>
		<string>すべて</string>
		<key>description</key>
		<string>生命線の刻まれ方は人それぞれですが、体の大きい人は金星丘も大きくなる傾向があります。

金星丘が大きいということは、金星丘に沿って刻まれる生命線もまた大きく張り出した形になるのが一般的です。

これは体格の良さからも推測できるように、強靱な肉体と健康を表す吉相です。
また、生命線が大きく張り出すということは、その分生命線が長くなると言う意味合いも兼ねていますので、長寿の相ともいえるでしょう。
生命線の刻まれ方は人それぞれですが、体の大きい人は金星丘も大きくなる傾向があります。

金星丘が大きいということは、金星丘に沿って刻まれる生命線もまた大きく張り出した形になるのが一般的です。

これは体格の良さからも推測できるように、強靱な肉体と健康を表す吉相です。
また、生命線が大きく張り出すということは、その分生命線が長くなると言う意味合いも兼ねていますので、長寿の相ともいえるでしょう。

一見して間違えそうなパターンなのですが（実際私も鑑定で間違えましたが）、画像のように赤色の生命線が膨らみ気味で手首線の上で終わるパターン。
これは生命力の強さを意味するのではなく、転居を繰り返したり無類の旅好きだったりする人に現れる相。
生命線の末端が月丘側に流れるというのがまさにこの相なのですが、画像の場合は月丘に流れきらないために、「大きく膨らんだ生命線か？」と勘違いしやすい。
この相を持つ人が旅好きかどうかを判断するには、青色の運命線が月丘より真っ直ぐ立っているかどうかで判断する。
月丘より真っ直ぐ立つ運命線は、運勢自体が旅に支配されるような生き方をする人に現れる相。
長距離トラックドライバーやスチュワーデスなどなど。
私の過去の鑑定では、大富豪の親のもとに生まれて世界各地を旅行して暮らしている人に現れていました。</string>
	</dict>
	<dict>
		<key>masterId</key>
		<string>300002</string>
		<key>title</key>
		<string>手相の見方</string>
		<key>description</key>
		<string>生命線の刻まれ方は人それぞれですが、体の大きい人は金星丘も大きくなる傾向があります。

金星丘が大きいということは、金星丘に沿って刻まれる生命線もまた大きく張り出した形になるのが一般的です。

これは体格の良さからも推測できるように、強靱な肉体と健康を表す吉相です。
また、生命線が大きく張り出すということは、その分生命線が長くなると言う意味合いも兼ねていますので、長寿の相ともいえるでしょう。
生命線の刻まれ方は人それぞれですが、体の大きい人は金星丘も大きくなる傾向があります。

金星丘が大きいということは、金星丘に沿って刻まれる生命線もまた大きく張り出した形になるのが一般的です。

これは体格の良さからも推測できるように、強靱な肉体と健康を表す吉相です。
また、生命線が大きく張り出すということは、その分生命線が長くなると言う意味合いも兼ねていますので、長寿の相ともいえるでしょう。

一見して間違えそうなパターンなのですが（実際私も鑑定で間違えましたが）、画像のように赤色の生命線が膨らみ気味で手首線の上で終わるパターン。
これは生命力の強さを意味するのではなく、転居を繰り返したり無類の旅好きだったりする人に現れる相。
生命線の末端が月丘側に流れるというのがまさにこの相なのですが、画像の場合は月丘に流れきらないために、「大きく膨らんだ生命線か？」と勘違いしやすい。
この相を持つ人が旅好きかどうかを判断するには、青色の運命線が月丘より真っ直ぐ立っているかどうかで判断する。
月丘より真っ直ぐ立つ運命線は、運勢自体が旅に支配されるような生き方をする人に現れる相。
長距離トラックドライバーやスチュワーデスなどなど。
私の過去の鑑定では、大富豪の親のもとに生まれて世界各地を旅行して暮らしている人に現れていました。</string>
	</dict>
	<dict>
		<key>masterId</key>
		<string>300003</string>
		<key>title</key>
		<string>基本線</string>
		<key>description</key>
		<string>生命線の刻まれ方は人それぞれですが、体の大きい人は金星丘も大きくなる傾向があります。

金星丘が大きいということは、金星丘に沿って刻まれる生命線もまた大きく張り出した形になるのが一般的です。

これは体格の良さからも推測できるように、強靱な肉体と健康を表す吉相です。
また、生命線が大きく張り出すということは、その分生命線が長くなると言う意味合いも兼ねていますので、長寿の相ともいえるでしょう。
生命線の刻まれ方は人それぞれですが、体の大きい人は金星丘も大きくなる傾向があります。

金星丘が大きいということは、金星丘に沿って刻まれる生命線もまた大きく張り出した形になるのが一般的です。

これは体格の良さからも推測できるように、強靱な肉体と健康を表す吉相です。
また、生命線が大きく張り出すということは、その分生命線が長くなると言う意味合いも兼ねていますので、長寿の相ともいえるでしょう。

一見して間違えそうなパターンなのですが（実際私も鑑定で間違えましたが）、画像のように赤色の生命線が膨らみ気味で手首線の上で終わるパターン。
これは生命力の強さを意味するのではなく、転居を繰り返したり無類の旅好きだったりする人に現れる相。
生命線の末端が月丘側に流れるというのがまさにこの相なのですが、画像の場合は月丘に流れきらないために、「大きく膨らんだ生命線か？」と勘違いしやすい。
この相を持つ人が旅好きかどうかを判断するには、青色の運命線が月丘より真っ直ぐ立っているかどうかで判断する。
月丘より真っ直ぐ立つ運命線は、運勢自体が旅に支配されるような生き方をする人に現れる相。
長距離トラックドライバーやスチュワーデスなどなど。
私の過去の鑑定では、大富豪の親のもとに生まれて世界各地を旅行して暮らしている人に現れていました。</string>
	</dict>
	<dict>
		<key>masterId</key>
		<string>300004</string>
		<key>title</key>
		<string>恋愛・結婚に関係する手相</string>
		<key>description</key>
		<string>生命線の刻まれ方は人それぞれですが、体の大きい人は金星丘も大きくなる傾向があります。

金星丘が大きいということは、金星丘に沿って刻まれる生命線もまた大きく張り出した形になるのが一般的です。

これは体格の良さからも推測できるように、強靱な肉体と健康を表す吉相です。
また、生命線が大きく張り出すということは、その分生命線が長くなると言う意味合いも兼ねていますので、長寿の相ともいえるでしょう。
生命線の刻まれ方は人それぞれですが、体の大きい人は金星丘も大きくなる傾向があります。

金星丘が大きいということは、金星丘に沿って刻まれる生命線もまた大きく張り出した形になるのが一般的です。

これは体格の良さからも推測できるように、強靱な肉体と健康を表す吉相です。
また、生命線が大きく張り出すということは、その分生命線が長くなると言う意味合いも兼ねていますので、長寿の相ともいえるでしょう。

一見して間違えそうなパターンなのですが（実際私も鑑定で間違えましたが）、画像のように赤色の生命線が膨らみ気味で手首線の上で終わるパターン。
これは生命力の強さを意味するのではなく、転居を繰り返したり無類の旅好きだったりする人に現れる相。
生命線の末端が月丘側に流れるというのがまさにこの相なのですが、画像の場合は月丘に流れきらないために、「大きく膨らんだ生命線か？」と勘違いしやすい。
この相を持つ人が旅好きかどうかを判断するには、青色の運命線が月丘より真っ直ぐ立っているかどうかで判断する。
月丘より真っ直ぐ立つ運命線は、運勢自体が旅に支配されるような生き方をする人に現れる相。
長距離トラックドライバーやスチュワーデスなどなど。
私の過去の鑑定では、大富豪の親のもとに生まれて世界各地を旅行して暮らしている人に現れていました。</string>
	</dict>
	<dict>
		<key>masterId</key>
		<string>300005</string>
		<key>title</key>
		<string>仕事に関連する手相</string>
		<key>description</key>
		<string>生命線の刻まれ方は人それぞれですが、体の大きい人は金星丘も大きくなる傾向があります。

金星丘が大きいということは、金星丘に沿って刻まれる生命線もまた大きく張り出した形になるのが一般的です。

これは体格の良さからも推測できるように、強靱な肉体と健康を表す吉相です。
また、生命線が大きく張り出すということは、その分生命線が長くなると言う意味合いも兼ねていますので、長寿の相ともいえるでしょう。
生命線の刻まれ方は人それぞれですが、体の大きい人は金星丘も大きくなる傾向があります。

金星丘が大きいということは、金星丘に沿って刻まれる生命線もまた大きく張り出した形になるのが一般的です。

これは体格の良さからも推測できるように、強靱な肉体と健康を表す吉相です。
また、生命線が大きく張り出すということは、その分生命線が長くなると言う意味合いも兼ねていますので、長寿の相ともいえるでしょう。

一見して間違えそうなパターンなのですが（実際私も鑑定で間違えましたが）、画像のように赤色の生命線が膨らみ気味で手首線の上で終わるパターン。
これは生命力の強さを意味するのではなく、転居を繰り返したり無類の旅好きだったりする人に現れる相。
生命線の末端が月丘側に流れるというのがまさにこの相なのですが、画像の場合は月丘に流れきらないために、「大きく膨らんだ生命線か？」と勘違いしやすい。
この相を持つ人が旅好きかどうかを判断するには、青色の運命線が月丘より真っ直ぐ立っているかどうかで判断する。
月丘より真っ直ぐ立つ運命線は、運勢自体が旅に支配されるような生き方をする人に現れる相。
長距離トラックドライバーやスチュワーデスなどなど。
私の過去の鑑定では、大富豪の親のもとに生まれて世界各地を旅行して暮らしている人に現れていました。</string>
	</dict>
	<dict>
		<key>masterId</key>
		<string>300006</string>
		<key>title</key>
		<string>お金に関連する手相</string>
		<key>description</key>
		<string>生命線の刻まれ方は人それぞれですが、体の大きい人は金星丘も大きくなる傾向があります。

金星丘が大きいということは、金星丘に沿って刻まれる生命線もまた大きく張り出した形になるのが一般的です。

これは体格の良さからも推測できるように、強靱な肉体と健康を表す吉相です。
また、生命線が大きく張り出すということは、その分生命線が長くなると言う意味合いも兼ねていますので、長寿の相ともいえるでしょう。
生命線の刻まれ方は人それぞれですが、体の大きい人は金星丘も大きくなる傾向があります。

金星丘が大きいということは、金星丘に沿って刻まれる生命線もまた大きく張り出した形になるのが一般的です。

これは体格の良さからも推測できるように、強靱な肉体と健康を表す吉相です。
また、生命線が大きく張り出すということは、その分生命線が長くなると言う意味合いも兼ねていますので、長寿の相ともいえるでしょう。

一見して間違えそうなパターンなのですが（実際私も鑑定で間違えましたが）、画像のように赤色の生命線が膨らみ気味で手首線の上で終わるパターン。
これは生命力の強さを意味するのではなく、転居を繰り返したり無類の旅好きだったりする人に現れる相。
生命線の末端が月丘側に流れるというのがまさにこの相なのですが、画像の場合は月丘に流れきらないために、「大きく膨らんだ生命線か？」と勘違いしやすい。
この相を持つ人が旅好きかどうかを判断するには、青色の運命線が月丘より真っ直ぐ立っているかどうかで判断する。
月丘より真っ直ぐ立つ運命線は、運勢自体が旅に支配されるような生き方をする人に現れる相。
長距離トラックドライバーやスチュワーデスなどなど。
私の過去の鑑定では、大富豪の親のもとに生まれて世界各地を旅行して暮らしている人に現れていました。</string>
	</dict>
	<dict>
		<key>masterId</key>
		<string>300007</string>
		<key>title</key>
		<string>珍しい手相</string>
		<key>description</key>
		<string>生命線の刻まれ方は人それぞれですが、体の大きい人は金星丘も大きくなる傾向があります。

金星丘が大きいということは、金星丘に沿って刻まれる生命線もまた大きく張り出した形になるのが一般的です。

これは体格の良さからも推測できるように、強靱な肉体と健康を表す吉相です。
また、生命線が大きく張り出すということは、その分生命線が長くなると言う意味合いも兼ねていますので、長寿の相ともいえるでしょう。
生命線の刻まれ方は人それぞれですが、体の大きい人は金星丘も大きくなる傾向があります。

金星丘が大きいということは、金星丘に沿って刻まれる生命線もまた大きく張り出した形になるのが一般的です。

これは体格の良さからも推測できるように、強靱な肉体と健康を表す吉相です。
また、生命線が大きく張り出すということは、その分生命線が長くなると言う意味合いも兼ねていますので、長寿の相ともいえるでしょう。

一見して間違えそうなパターンなのですが（実際私も鑑定で間違えましたが）、画像のように赤色の生命線が膨らみ気味で手首線の上で終わるパターン。
これは生命力の強さを意味するのではなく、転居を繰り返したり無類の旅好きだったりする人に現れる相。
生命線の末端が月丘側に流れるというのがまさにこの相なのですが、画像の場合は月丘に流れきらないために、「大きく膨らんだ生命線か？」と勘違いしやすい。
この相を持つ人が旅好きかどうかを判断するには、青色の運命線が月丘より真っ直ぐ立っているかどうかで判断する。
月丘より真っ直ぐ立つ運命線は、運勢自体が旅に支配されるような生き方をする人に現れる相。
長距離トラックドライバーやスチュワーデスなどなど。
私の過去の鑑定では、大富豪の親のもとに生まれて世界各地を旅行して暮らしている人に現れていました。</string>
	</dict>
	<dict>
		<key>masterId</key>
		<string>300008</string>
		<key>title</key>
		<string>有名人の手相</string>
		<key>description</key>
		<string>生命線の刻まれ方は人それぞれですが、体の大きい人は金星丘も大きくなる傾向があります。

金星丘が大きいということは、金星丘に沿って刻まれる生命線もまた大きく張り出した形になるのが一般的です。

これは体格の良さからも推測できるように、強靱な肉体と健康を表す吉相です。
また、生命線が大きく張り出すということは、その分生命線が長くなると言う意味合いも兼ねていますので、長寿の相ともいえるでしょう。
生命線の刻まれ方は人それぞれですが、体の大きい人は金星丘も大きくなる傾向があります。

金星丘が大きいということは、金星丘に沿って刻まれる生命線もまた大きく張り出した形になるのが一般的です。

これは体格の良さからも推測できるように、強靱な肉体と健康を表す吉相です。
また、生命線が大きく張り出すということは、その分生命線が長くなると言う意味合いも兼ねていますので、長寿の相ともいえるでしょう。

一見して間違えそうなパターンなのですが（実際私も鑑定で間違えましたが）、画像のように赤色の生命線が膨らみ気味で手首線の上で終わるパターン。
これは生命力の強さを意味するのではなく、転居を繰り返したり無類の旅好きだったりする人に現れる相。
生命線の末端が月丘側に流れるというのがまさにこの相なのですが、画像の場合は月丘に流れきらないために、「大きく膨らんだ生命線か？」と勘違いしやすい。
この相を持つ人が旅好きかどうかを判断するには、青色の運命線が月丘より真っ直ぐ立っているかどうかで判断する。
月丘より真っ直ぐ立つ運命線は、運勢自体が旅に支配されるような生き方をする人に現れる相。
長距離トラックドライバーやスチュワーデスなどなど。
私の過去の鑑定では、大富豪の親のもとに生まれて世界各地を旅行して暮らしている人に現れていました。</string>
	</dict>
</array>
</plist>
